@import 'src/shared/styles/colors';
@import 'src/shared/styles/variables';

.modal {
  align-items: flex-start;
  border: $ui-border-base solid $ui-color-gray-300;
  border-radius: $ui-radius;
  display: flex;
  flex-direction: row;
  gap: calc($ui-step * 2);
  padding: calc($ui-step * 6);

  .icon {
    height: calc($ui-step * 8);
    width: calc($ui-step * 8);
  }
  .label {
    font: {
      family: 'Primary Medium', sans-serif;
      size: 20px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .header {
    display: flex;
    gap: calc($ui-step * 2);
    justify-content: space-between;
    position: relative;
  }
  .close-btn {
    cursor: pointer;
    height: calc($ui-step * 6);
    width: calc($ui-step * 6);
  }
  .message {
    font-family: 'Primary Regular', sans-serif;
    font-size: $ui-fontsize-large;
  }
  .controls {
    display: flex;
    gap: calc($ui-step * 2);
    justify-content: flex-end;
    padding-top: calc($ui-step * 4.5);
    width: 100%;
  }

  &.close {
    display: none;
  }

  // Style
  &.primary {
    border: $ui-border-base solid $ui-color-primary-border;
  }
  &.success {
    border: $ui-border-base solid $ui-color-success-border;
  }
  &.info {
    border: $ui-border-base solid $ui-color-info-border;
  }
  &.warning {
    border: $ui-border-base solid $ui-color-warning-border;
  }
  &.danger {
    border: $ui-border-base solid $ui-color-danger-border;
  }
}
