@import 'src/shared/styles/colors';
@import 'src/shared/styles/variables';

.button {
  align-items: center;
  color: $ui-base-color-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: $ui-step;
  justify-content: center;
  padding: calc($ui-step * 2) calc($ui-step * 4);
  user-select: none;
  vertical-align: middle;
  font: {
    family: 'Primary Medium', sans-serif;
  }
  border: {
    radius: $ui-radius;
    color: transparent;
  }

  & svg {
    fill: $ui-base-color-black;
    height: calc($ui-step * 4);
    width: calc($ui-step * 4);
  }
  &:hover svg {
    fill: $ui-color-primary-main;
    height: calc($ui-step * 4);
    width: calc($ui-step * 4);
  }

  .loading {
    & svg {
      margin: 0 auto;
      fill: $ui-base-color-white;
      background-color: $ui-color-primary-pressed;
    }
  }

  // Icon Position
  &.right {
    flex-direction: row-reverse;
  }

  // Content
  &.text {
    &.small {
      font-size: $ui-fontsize-small;
    }
    &.normal {
      font-size: $ui-fontsize-base;
    }
    &.large {
      font-size: $ui-fontsize-large;
    }
    &.extra-large {
      font-size: $ui-fontsize-extra-large;
    }
    &.mega {
      font-size: $ui-fontsize-mega;
    }
  }
  &.icon {
    padding: calc($ui-step * 1.5);

    &.small svg {
      height: calc($ui-step * 3.5);
      width: calc($ui-step * 3.5);
    }
    &.normal svg {
      height: calc($ui-step * 4);
      width: calc($ui-step * 4);
    }
    &.large svg {
      height: calc($ui-step * 5);
      width: calc($ui-step * 5);
    }
    &.extra-large svg {
      height: calc($ui-step * 6);
      width: calc($ui-step * 6);
    }
    &.mega svg {
      height: calc($ui-step * 7);
      width: calc($ui-step * 7);
    }
  }
  &.icon-only {
    padding: calc($ui-step * 1.5);

    &.small svg {
      height: calc($ui-step * 3.5);
      width: calc($ui-step * 3.5);
    }
    &.normal svg {
      height: calc($ui-step * 4);
      width: calc($ui-step * 4);
    }
    &.large svg {
      height: calc($ui-step * 5);
      width: calc($ui-step * 5);
    }
    &.extra-large svg {
      height: calc($ui-step * 6);
      width: calc($ui-step * 6);
    }
    &.mega svg {
      height: calc($ui-step * 7);
      width: calc($ui-step * 7);
    }
  }

  // States
  &:disabled {
    background-color: $ui-color-gray-200;
    color: $ui-color-gray-500;
    & svg {
      fill: $ui-color-gray-main;
    }
  }

  // Types
  &.primary:not(:disabled) {
    background-color: $ui-color-primary-main;
    color: $ui-base-color-white;
    & svg {
      fill: $ui-base-color-white;
    }

    &:active {
      background-color: $ui-color-primary-pressed;
      color: $ui-base-color-white;
    }
    &:hover {
      background-color: $ui-color-primary-hover;
      color: $ui-base-color-white;
    }
    &:focus {
      @include focus-primary;
    }
  }
  &.secondary:not(:disabled) {
    background-color: $ui-color-primary-secondary;
    color: $ui-color-primary-main;
    & svg {
      fill: $ui-color-primary-main;
    }

    &:active {
      color: $ui-color-primary-pressed;
      & svg {
        fill: $ui-color-primary-pressed;
      }
    }
    &:hover {
      color: $ui-color-primary-hover;
      & svg {
        fill: $ui-color-primary-hover;
      }
    }
    &:focus {
      @include focus-primary;
      color: $ui-color-primary-main;
      & svg {
        fill: $ui-color-primary-main;
      }
    }
  }
  &.tertiary:not(:disabled) {
    background-color: transparent;
    color: $ui-color-primary-main;
    & svg {
      fill: $ui-color-primary-main;
    }

    &:active {
      color: $ui-color-primary-pressed;
      & svg {
        fill: $ui-color-primary-pressed;
      }
    }
    &:hover {
      color: $ui-color-primary-hover;
      & svg {
        fill: $ui-color-primary-hover;
      }
    }
    &:focus {
      @include focus-primary;
      color: $ui-color-primary-main;
      & svg {
        fill: $ui-color-primary-main;
      }
    }
  }

  // Style (success)
  &.success:not(:disabled) {
    background-color: $ui-color-success-main;
    color: $ui-base-color-white;
    & svg {
      fill: $ui-base-color-white;
    }
    &:active {
      background-color: $ui-color-success-pressed;
      color: $ui-base-color-white;
    }
    &:hover {
      background-color: $ui-color-success-hover;
      color: $ui-base-color-white;
    }
    &:focus {
      @include focus-success;
      color: $ui-base-color-white;
    }
  }
  &.secondary.success:not(:disabled) {
    background-color: $ui-color-success-secondary;
    color: $ui-color-success-main;
    & svg {
      fill: $ui-color-success-main;
    }
    &:active {
      background-color: $ui-color-success-secondary;
      color: $ui-color-success-pressed;
    }
    &:hover {
      background-color: $ui-color-success-secondary;
      color: $ui-color-success-hover;
    }
    &:focus {
      @include focus-success;
      color: $ui-color-success-focus;
    }
  }
  &.tertiary.success:not(:disabled) {
    background-color: transparent;
    color: $ui-color-success-main;
    & svg {
      fill: $ui-color-success-main;
    }
    &:active {
      color: $ui-color-success-pressed;
    }
    &:hover {
      color: $ui-color-success-hover;
    }
    &:focus {
      @include focus-success;
      color: $ui-color-success-focus;
    }
  }

  // Style (danger)
  &.danger:not(:disabled) {
    background-color: $ui-color-danger-main;
    color: $ui-base-color-white;
    & svg {
      fill: $ui-base-color-white;
    }
    &:active {
      background-color: $ui-color-danger-pressed;
      color: $ui-base-color-white;
    }
    &:hover {
      background-color: $ui-color-danger-hover;
      color: $ui-base-color-white;
    }
    &:focus {
      @include focus-danger;
      color: $ui-base-color-white;
    }
  }
  &.secondary.danger:not(:disabled) {
    background-color: $ui-color-danger-secondary;
    color: $ui-color-danger-main;
    & svg {
      fill: $ui-color-danger-main;
    }
    &:active {
      background-color: $ui-color-danger-secondary;
      color: $ui-color-danger-pressed;
    }
    &:hover {
      background-color: $ui-color-danger-secondary;
      color: $ui-color-danger-hover;
    }
    &:focus {
      @include focus-danger;
      color: $ui-color-danger-focus;
    }
  }
  &.tertiary.danger:not(:disabled) {
    background-color: transparent;
    color: $ui-color-danger-main;
    & svg {
      fill: $ui-color-danger-main;
    }
    &:active {
      color: $ui-color-danger-pressed;
    }
    &:hover {
      color: $ui-color-danger-hover;
    }
    &:focus {
      @include focus-danger;
      color: $ui-color-danger-focus;
    }
  }

  // Style (info)
  &.info:not(:disabled) {
    background-color: $ui-color-info-main;
    color: $ui-base-color-white;
    & svg {
      fill: $ui-base-color-white;
    }
    &:active {
      background-color: $ui-color-info-pressed;
      color: $ui-base-color-white;
    }
    &:hover {
      background-color: $ui-color-info-hover;
      color: $ui-base-color-white;
    }
    &:focus {
      @include focus-info;
      color: $ui-base-color-white;
    }
  }
  &.secondary.info:not(:disabled) {
    background-color: $ui-color-info-secondary;
    color: $ui-color-info-main;
    & svg {
      fill: $ui-color-info-main;
    }
    &:active {
      background-color: $ui-color-info-secondary;
      color: $ui-color-info-pressed;
    }
    &:hover {
      background-color: $ui-color-info-secondary;
      color: $ui-color-info-hover;
    }
    &:focus {
      @include focus-info;
      color: $ui-color-info-focus;
    }
  }
  &.tertiary.info:not(:disabled) {
    background-color: transparent;
    color: $ui-color-info-main;
    & svg {
      fill: $ui-color-info-main;
    }
    &:active {
      color: $ui-color-info-pressed;
    }
    &:hover {
      color: $ui-color-info-hover;
    }
    &:focus {
      @include focus-info;
      color: $ui-color-info-focus;
    }
  }

  // Style (warning)
  &.warning:not(:disabled) {
    background-color: $ui-color-warning-main;
    color: $ui-base-color-white;
    & svg {
      fill: $ui-base-color-white;
    }
    &:active {
      background-color: $ui-color-warning-pressed;
      color: $ui-base-color-white;
    }
    &:hover {
      background-color: $ui-color-warning-hover;
      color: $ui-base-color-white;
    }
    &:focus {
      @include focus-warning;
      color: $ui-base-color-white;
    }
  }
  &.secondary.warning:not(:disabled) {
    background-color: $ui-color-warning-secondary;
    color: $ui-color-warning-main;
    & svg {
      fill: $ui-color-warning-main;
    }
    &:active {
      background-color: $ui-color-warning-secondary;
      color: $ui-color-warning-pressed;
    }
    &:hover {
      background-color: $ui-color-warning-secondary;
      color: $ui-color-warning-hover;
    }
    &:focus {
      @include focus-warning;
      color: $ui-color-warning-focus;
    }
  }
  &.tertiary.warning:not(:disabled) {
    background-color: transparent;
    color: $ui-color-warning-main;
    & svg {
      fill: $ui-color-warning-main;
    }
    &:active {
      color: $ui-color-warning-pressed;
    }
    &:hover {
      color: $ui-color-warning-hover;
    }
    &:focus {
      @include focus-warning;
      color: $ui-color-warning-focus;
    }
  }
}
