@import 'src/shared/styles/colors';
@import 'src/shared/styles/variables';

.input {
  border-radius: $ui-radius;
  display: flex;
  flex-direction: column;
  gap: $ui-step;

  .label {
    color: $ui-base-color-black;
    font-family: 'Primary Regular', sans-serif;
    font-size: $ui-fontsize-large;
  }

  .field {
    align-content: flex-start;
    align-items: flex-start;
    color: $ui-color-gray-700;
    display: flex;
    justify-content: space-between;
    position: relative;

    & > input {
      border: $ui-border-base solid $ui-color-gray-400;
      border-radius: $ui-step;
      color: $ui-color-gray-700;
      font-family: 'Primary Regular', sans-serif;
      font-size: $ui-fontsize-base;
      padding: calc($ui-step * 1.5) calc($ui-step * 8) calc($ui-step * 1.5) calc($ui-step * 3);
      position: relative;
      width: 100%;
    }
  }

  .icon {
    content: '';
    height: calc($ui-step * 4);
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: calc($ui-step * 4);

    & svg {
      fill: $ui-color-gray-700;
      height: 100%;
      width: 100%;
    }
  }

  .helper {
    color: $ui-color-gray-700;
    font-family: 'Primary Regular', sans-serif;
    font-size: $ui-fontsize-small;
  }

  // Styles
  &.info:not(.disabled) {
    .field input {
      border: $ui-border-base solid $ui-color-info-main;
    }
    .icon svg {
      fill: $ui-color-info-main;
    }
    .helper {
      color: $ui-color-info-main;
    }
  }

  &.success:not(.disabled) {
    .field input {
      border: $ui-border-base solid $ui-color-success-main;
    }
    .icon svg {
      fill: $ui-color-success-main;
    }
    .helper {
      color: $ui-color-success-main;
    }
  }

  &.danger:not(.disabled) {
    .field input {
      border: $ui-border-base solid $ui-color-danger-main;
    }
    .icon svg {
      fill: $ui-color-danger-main;
    }
    .helper {
      color: $ui-color-danger-main;
    }
  }

  &.warning:not(.disabled) {
    .field input {
      border: $ui-border-base solid $ui-color-warning-main;
    }
    .icon svg {
      fill: $ui-color-warning-main;
    }
    .helper {
      color: $ui-color-warning-main;
    }
  }

  &.disabled {
    .label {
      color: $ui-color-gray-400;
    }
    .field input {
      border: $ui-border-base solid $ui-color-gray-400;
    }
    .field input::placeholder {
      color: $ui-color-gray-400;
    }
    .icon svg {
      fill: $ui-color-gray-400;
    }
    .helper {
      color: $ui-color-gray-400;
    }
  }
}
