@import 'src/shared/styles/colors';
@import 'src/shared/styles/variables';

.radio {
  margin-bottom: 0.2em;

  & > .field {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  & > .label {
    align-items: center;
    display: inline-flex;
    user-select: none;
  }
  & > .label::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border: $ui-border-base solid $ui-color-gray-500;
    border-radius: calc($ui-radius-100);
    content: '';
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    height: calc($ui-step * 5);
    margin-right: calc($ui-step * 2);
    width: calc($ui-step * 5);
  }

  // Styles
  & > .field:not(:disabled):not(:checked) + .label:hover::before {
    border-color: $ui-color-primary-hover;
  }
  & > .field:not(.disabled):active + .label::before {
    background-color: $ui-color-primary-pressed;
  }
  & > .field:focus + span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  & > .field:focus:not(:checked) + .label::before {
    border-color: $ui-color-primary-focus;
  }
  & > .field.disabled + .label::before {
    background-color: $ui-color-gray-500;
  }
  & > .field:checked + .label::before {
    background: url('./../../icons/dot.svg') $ui-color-primary-main no-repeat center center;
    background-size: 50%;
  }
  &.disabled > .field:checked + span::before {
    background-color: $ui-color-gray-500;
  }
  &.disabled > .field:checked + span {
    color: $ui-color-gray-400;
  }
}
