$ui-color-gray: #AEAEAE;
$ui-color-gray-100: #EFEFEF;
$ui-color-gray-200: #E4E4E4;
$ui-color-gray-300: #D6D6D6;
$ui-color-gray-400: #C9C9C9;
$ui-color-gray-500: #BBBBBB;
$ui-color-gray-600: #919191;
$ui-color-gray-700: #747474;
$ui-color-gray-800: #575757;
$ui-color-gray-900: #3A3A3A;

$ui-color-gray-main: $ui-color-gray;
$ui-color-gray-border: $ui-color-gray-200;
$ui-color-gray-focus: $ui-color-gray-300;
$ui-color-gray-hover: $ui-color-gray-600;
$ui-color-gray-pressed: $ui-color-gray-800;
$ui-color-gray-secondary: $ui-color-gray-100;


$ui-color-primary: #4339F2;
$ui-color-primary-100: #D9D7FC;
$ui-color-primary-200: #C0BDFB;
$ui-color-primary-300: #A19CF8;
$ui-color-primary-400: #827BF6;
$ui-color-primary-500: #625AF4;
$ui-color-primary-600: #3830CA;
$ui-color-primary-700: #2D26A1;
$ui-color-primary-800: #221D79;
$ui-color-primary-900: #161351;

$ui-color-primary-main: $ui-color-primary;
$ui-color-primary-border: $ui-color-primary-200;
$ui-color-primary-focus: $ui-color-primary-300;
$ui-color-primary-hover: $ui-color-primary-600;
$ui-color-primary-pressed: $ui-color-primary-800;
$ui-color-primary-secondary: $ui-color-primary-100;

$ui-color-secondary: #D9D7FC;

$ui-color-success: #34B53A;
$ui-color-success-100: #D6F0D8;
$ui-color-success-200: #BBE6BD;
$ui-color-success-300: #99DA9C;
$ui-color-success-400: #78CE7C;
$ui-color-success-500: #56C15B;
$ui-color-success-600: #2B9730;
$ui-color-success-700: #237927;
$ui-color-success-800: #1A5B1D;
$ui-color-success-900: #113C13;

$ui-color-success-main: $ui-color-success;
$ui-color-success-border: $ui-color-success-200;
$ui-color-success-focus: $ui-color-success-300;
$ui-color-success-hover: $ui-color-success-600;
$ui-color-success-pressed: $ui-color-success-800;
$ui-color-success-secondary: $ui-color-success-100;


$ui-color-info: #02A0FC;
$ui-color-info-100: #CCECFE;
$ui-color-info-200: #ABDFFE;
$ui-color-info-300: #80CFFD;
$ui-color-info-400: #56C0FD;
$ui-color-info-500: #2CB0FC;
$ui-color-info-600: #0285D2;
$ui-color-info-700: #016BA8;
$ui-color-info-800: #01507E;
$ui-color-info-900: #013554;

$ui-color-info-main: $ui-color-info;
$ui-color-info-border: $ui-color-info-200;
$ui-color-info-focus: $ui-color-info-300;
$ui-color-info-hover: $ui-color-info-600;
$ui-color-info-pressed: $ui-color-info-800;
$ui-color-info-secondary: $ui-color-info-100;


$ui-color-warning: #FFB200;
$ui-color-warning-100: #FFF0CC;
$ui-color-warning-200: #FFE5AA;
$ui-color-warning-300: #FFD880;
$ui-color-warning-400: #FFCC55;
$ui-color-warning-500: #FFBF2B;
$ui-color-warning-600: #D49400;
$ui-color-warning-700: #AA7700;
$ui-color-warning-800: #805900;
$ui-color-warning-900: #553B00;

$ui-color-warning-main: $ui-color-warning;
$ui-color-warning-border: $ui-color-warning-200;
$ui-color-warning-focus: $ui-color-warning-300;
$ui-color-warning-hover: $ui-color-warning-600;
$ui-color-warning-pressed: $ui-color-warning-800;
$ui-color-warning-secondary: $ui-color-warning-100;


$ui-color-danger: #FF3A29;
$ui-color-danger-100: #FFD8D4;
$ui-color-danger-200: #FFBDB8;
$ui-color-danger-300: #FF9C94;
$ui-color-danger-400: #FF7C70;
$ui-color-danger-500: #FF5B4D;
$ui-color-danger-600: #D43022;
$ui-color-danger-700: #AA271B;
$ui-color-danger-800: #801D15;
$ui-color-danger-900: #55130E;

$ui-color-danger-main: $ui-color-danger;
$ui-color-danger-border: $ui-color-danger-200;
$ui-color-danger-focus: $ui-color-danger-300;
$ui-color-danger-hover: $ui-color-danger-600;
$ui-color-danger-pressed: $ui-color-danger-800;
$ui-color-danger-secondary: $ui-color-danger-100;


$ui-base-color-gray: #AEAEAE;
$ui-base-color-black: #2B2B2B;
$ui-base-color-white: #FFFFFF;

$ui-shadow-2: 0px 2px 4px rgba(0, 0, 0, 0.12);
$ui-shadow-4: 0px 4px 8px rgba(0, 0, 0, 0.1);
$ui-shadow-6: 0px 6px 12px rgba(0, 0, 0, 0.1);
$ui-shadow-8: 0px 8px 16px rgba(0, 0, 0, 0.08);
