$ui-color-gray: #aeaeae;
$ui-color-gray-100: #efefef;
$ui-color-gray-200: #e4e4e4;
$ui-color-gray-300: #d6d6d6;
$ui-color-gray-400: #c9c9c9;
$ui-color-gray-500: #bbbbbb;
$ui-color-gray-600: #919191;
$ui-color-gray-700: #747474;
$ui-color-gray-800: #575757;
$ui-color-gray-900: #3a3a3a;

$ui-color-gray-main: $ui-color-gray;
$ui-color-gray-border: $ui-color-gray-200;
$ui-color-gray-focus: $ui-color-gray-300;
$ui-color-gray-hover: $ui-color-gray-600;
$ui-color-gray-pressed: $ui-color-gray-800;
$ui-color-gray-secondary: $ui-color-gray-100;

$ui-color-primary: #4339f2;
$ui-color-primary-100: #d9d7fc;
$ui-color-primary-200: #c0bdfb;
$ui-color-primary-300: #a19cf8;
$ui-color-primary-400: #827bf6;
$ui-color-primary-500: #625af4;
$ui-color-primary-600: #3830ca;
$ui-color-primary-700: #2d26a1;
$ui-color-primary-800: #221d79;
$ui-color-primary-900: #161351;

$ui-color-primary-main: $ui-color-primary;
$ui-color-primary-border: $ui-color-primary-200;
$ui-color-primary-focus: $ui-color-primary-300;
$ui-color-primary-hover: $ui-color-primary-600;
$ui-color-primary-pressed: $ui-color-primary-800;
$ui-color-primary-secondary: $ui-color-primary-100;

$ui-color-secondary: #d9d7fc;

$ui-color-success: #34b53a;
$ui-color-success-100: #d6f0d8;
$ui-color-success-200: #bbe6bd;
$ui-color-success-300: #99da9c;
$ui-color-success-400: #78ce7c;
$ui-color-success-500: #56c15b;
$ui-color-success-600: #2b9730;
$ui-color-success-700: #237927;
$ui-color-success-800: #1a5b1d;
$ui-color-success-900: #113c13;

$ui-color-success-main: $ui-color-success;
$ui-color-success-border: $ui-color-success-200;
$ui-color-success-focus: $ui-color-success-300;
$ui-color-success-hover: $ui-color-success-600;
$ui-color-success-pressed: $ui-color-success-800;
$ui-color-success-secondary: $ui-color-success-100;

$ui-color-info: #02a0fc;
$ui-color-info-100: #ccecfe;
$ui-color-info-200: #abdffe;
$ui-color-info-300: #80cffd;
$ui-color-info-400: #56c0fd;
$ui-color-info-500: #2cb0fc;
$ui-color-info-600: #0285d2;
$ui-color-info-700: #016ba8;
$ui-color-info-800: #01507e;
$ui-color-info-900: #013554;

$ui-color-info-main: $ui-color-info;
$ui-color-info-border: $ui-color-info-200;
$ui-color-info-focus: $ui-color-info-300;
$ui-color-info-hover: $ui-color-info-600;
$ui-color-info-pressed: $ui-color-info-800;
$ui-color-info-secondary: $ui-color-info-100;

$ui-color-warning: #ffb200;
$ui-color-warning-100: #fff0cc;
$ui-color-warning-200: #ffe5aa;
$ui-color-warning-300: #ffd880;
$ui-color-warning-400: #ffcc55;
$ui-color-warning-500: #ffbf2b;
$ui-color-warning-600: #d49400;
$ui-color-warning-700: #aa7700;
$ui-color-warning-800: #805900;
$ui-color-warning-900: #553b00;

$ui-color-warning-main: $ui-color-warning;
$ui-color-warning-border: $ui-color-warning-200;
$ui-color-warning-focus: $ui-color-warning-300;
$ui-color-warning-hover: $ui-color-warning-600;
$ui-color-warning-pressed: $ui-color-warning-800;
$ui-color-warning-secondary: $ui-color-warning-100;

$ui-color-danger: #ff3a29;
$ui-color-danger-100: #ffd8d4;
$ui-color-danger-200: #ffbdb8;
$ui-color-danger-300: #ff9c94;
$ui-color-danger-400: #ff7c70;
$ui-color-danger-500: #ff5b4d;
$ui-color-danger-600: #d43022;
$ui-color-danger-700: #aa271b;
$ui-color-danger-800: #801d15;
$ui-color-danger-900: #55130e;

$ui-color-danger-main: $ui-color-danger;
$ui-color-danger-border: $ui-color-danger-200;
$ui-color-danger-focus: $ui-color-danger-300;
$ui-color-danger-hover: $ui-color-danger-600;
$ui-color-danger-pressed: $ui-color-danger-800;
$ui-color-danger-secondary: $ui-color-danger-100;

$ui-base-color-gray: #aeaeae;
$ui-base-color-black: #2b2b2b;
$ui-base-color-white: #ffffff;

$ui-shadow-2: 0px 2px 4px rgba(0, 0, 0, 0.12);
$ui-shadow-4: 0px 4px 8px rgba(0, 0, 0, 0.1);
$ui-shadow-6: 0px 6px 12px rgba(0, 0, 0, 0.1);
$ui-shadow-8: 0px 8px 16px rgba(0, 0, 0, 0.08);
