$ui-step: 4px;

$ui-index-1: 1;
$ui-index-2: 2;
$ui-index-3: 3;
$ui-index-4: 4;
$ui-index-5: 5;
$ui-index-6: 6;

$ui-radius: 4px;
$ui-radius-100: 100px;

$ui-border-base: 1px;
$ui-border-focus: 3px;

$ui-padding-2: 2px;
$ui-padding-4: 4px;
$ui-padding-6: 6px;
$ui-padding-8: 8px;
$ui-padding-10: 10px;
$ui-padding-12: 12px;
$ui-padding-14: 14px;
$ui-padding-16: 16px;
$ui-padding-18: 18px;
$ui-padding-20: 20px;

$ui-fontsize-small: 12px;
$ui-fontsize-base: 14px;
$ui-fontsize-large: 16px;
$ui-fontsize-extra-large: 18px;
$ui-fontsize-mega: 20px;
